:root{
    --color-white:#fff;
    --color-black:#000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    transition: 0.5s;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right:15px ;
    margin: auto;
}

@media (min-width:1200px) {
    .container {
        width: 1140px;
    }
}
@media(min-width:1400px){
    .container {
        width: 1320px;
    }
}

.grid-2  {

    grid-template-columns: repeat(2, 50%);
}
@media (max-width:768px){
    .grid-2  {
        grid-template-columns: repeat(1, 100%);
    }
}
.align-items-center {
    align-items: center;
}
.mb-2{
    margin-bottom: 20px;
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.a-button {
    display: inline-block;
    color: #000 !important;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 15px;
} 

.text-center {
    text-align: center;
}

.grid-3 {

    grid-template-columns: repeat(3,1fr);
}

@media (max-width:768px){
    .grid-3{
        grid-template-columns: 1fr;
    }
}
.gap-6 {
    gap: 60px;
}

.p-tb7 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.grid-4 {

    grid-template-columns: repeat(4,1fr);
}
@media (max-width:992px){
    .grid-4 {
        grid-template-columns: repeat(2,1fr);
    }

}
@media (max-width:768px){
    .grid-4 {
        grid-template-columns: 1fr;
    }
    .d-flex:not(.this) {
        display: block;
    }
    .w-50,
    .w-80{
        width: 100% !important;
    }
}
.justify-content-between{
    justify-content: space-between;
}
.w-50 {
    width: 50%;
    flex: 0 0 auto;
}
.w-80{
    width: 80%;
}

.d-flex .w-50,
.d-flex .w-80 {
    flex: 0 0 auto;
}
.m-auto {
    margin: auto;
}
.justify-content-center {
    justify-content: center;

}